x64/*
.vs/*
.qmake.stash
8755prg.app/*
GeneratedFiles/*
release/*
8755prg.app.dSYM
debug/*
build/*
8755prg.X/build/default/production/*
8755prg.X/dist/default/production/*
8755prg.X/nbproject/*
Makefile

.DS_Store
8755prg.pro.user
8755prg.pro.user.3fd3a2d
